// Colors
$color-white: #fff;
$color-black: #000;

$color-text100: #666666;
$color-text200: #595959;
$color-text300: #4d4d4d;
$color-text400: #404040;
$color-text500: #333333;
$color-text600: #262626;
$color-text700: #1a1a1a;
$color-text800: #0d0d0d;
$color-text900: #000000;
$color-text: #333333;

$color-background100: #ffffff;
$color-background200: #f7f7f7;
$color-background300: #f0f0f0;
$color-background400: #e8e8e8;
$color-background500: #e0e0e0;
$color-background600: #d8d8d8;
$color-background700: #d0d0d0;
$color-background800: #c8c8c8;
$color-background900: #bfbfbf;
$color-background: #ebebeb;

$color-button100: #fff0db;
$color-button200: #ffe2b6;
$color-button300: #ffd392;
$color-button400: #ffc46d;
$color-button500: #ffb549;
$color-button600: #ffa724;
$color-button700: #d98100;
$color-button800: #b36a00;
$color-button900: #8c5400;
$color-button1000: #663d00;
$color-button: #ff9800;

$primary100: #ffffff;
$primary200: #f2f2f2;
$primary300: #e6e6e6;
$primary400: #d9d9d9;
$primary500: #cccccc;
$primary600: #bfbfbf;
$primary700: #b3b3b3;
$primary800: #a6a6a6;
$primary900: #999999;
$primary: #ffffff;

$secondary100: #ffe3da;
$secondary200: #ffc7b5;
$secondary300: #ffab91;
$secondary400: #ff8f6c;
$secondary500: #ff7347;
$secondary600: #fb3c00;
$secondary700: #d63300;
$secondary800: #b02a00;
$secondary900: #8a2100;
$secondary1000: #651800;
$secondary: #ff5722;

$neutrals-base-white: #fafafa;
$neutrals-base-black: #0b0a0a;
$neutrals100: #e4e4e4;
$neutrals200: #cfcece;
$neutrals300: #bab8b8;
$neutrals400: #a5a1a1;
$neutrals500: #908b8b;
$neutrals600: #7a7474;
$neutrals700: #655f5f;
$neutrals800: #4e4949;
$neutrals900: #383434;
$neutrals1000: #221f1f;

$error100: #e4626f;
$error200: #c03744;
$error300: #8c1823;

$warning100: #f4c790;
$warning200: #eda145;
$warning300: #cc7914;

$success100: #a4f4e7;
$success200: #15b097;
$success300: #0b7b69;

// Spacing
$spacing-xl: 32px;
$spacing-l: 28px;
$spacing-ml: 24px;
$spacing-m: 20px;
$spacing-sm: 16px;
$spacing-s: 12px;
$spacing-xs: 8px;
$spacing-xxs: 4px;
$spacing-base: 16px;

// Border Radius
$radius-round: 999px;
$radius-xl: 128px;
$radius-lg: 64px;
$radius-ml: 32px;
$radius-m: 16px;
$radius-sm: 8px;
$radius-s: 4px;
$radius-xs: 2px;
$radius-xxs: 2px;

// Effects
$shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);

// Fonts
$tipo-principal: 'Lemon', Arial, sans-serif;
$tipo-secundaria: 'Fredoka',Verdana;
$tipo-terciaria: 'FredokaBold',Verdana;

// Font Sizes
$texto-body-size-1: 16px;
$line-height-1: 24px;
$texto-body-size-2: 12.8px;
$line-height-2: 22px;
$texto-body-size-3: 10.2px;
$line-height-3: 16px;

$font-size-h1: 61px;
$font-size-h2: 48.8px;
$font-size-h3: 39.1px;
$font-size-h4: 31.3px;
$font-size-h5: 25px;
$font-size-h6: 20px;

// Mixin para modo oscuro
@mixin dark-theme {
  $color-text100: #f2f2f2;
  $color-text200: #e5e5e5;
  $color-text300: #d9d9d9;
  $color-text400: #b7b7b7;
  $color-text500: #a2a2a2;
  $color-text600: #8c8c8c;
  $color-text700: #777;
  $color-text800: #626262;
  $color-text900: #4d4d4d;
  $color-text1000: #373737;
  $color-text: #ccc;

  $color-background100: #e9e9e9;
  $color-background200: #d2d2d2;
  $color-background300: #bbb;
  $color-background400: #a5a5a5;
  $color-background500: #8f8f8f;
  $color-background600: #787878;
  $color-background800: #4b4b4b;
  $color-background900: #343434;
  $color-background1000: #181818;
  $color-background: #1e1e1e;

  $primary100: #ebebeb;
  $primary200: #d6d6d6;
  $primary300: #c2c2c2;
  $primary400: #adadad;
  $primary500: #999;
  $primary600: #858585;
  $primary700: #707070;
  $primary800: #5c5c5c;
  $primary900: #474747;
  $primary1000: #262626;
  $primary: #333;
}

// Aplicación del mixin en el modo oscuro
@media (prefers-color-scheme: dark) {
  :root {
      @include dark-theme;
  }
}

